body {
  overflow: hidden;
}

.top {
  width: 100%;
  height: 350px;
  background-color: #ddf3f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
}

.bottom {
  width: 100%;
  height: 350px;
  background-color: #a6dcef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 55px;
}

.button .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 1400px;
}
